SUPABASE_URL=
SUPABASE_ANON_KEY=
VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=
SHEETS_API_BASE="https://script.google.com/macros/s/AKfycbwoTwieECLkQNmczbuX2PTcZ3sq7hYc5MH68iKIaVDs-lQXPbpoWMqu1cjs0-kDPi3h/exec"
VITE_SHEETS_API_BASE="https://script.google.com/macros/s/AKfycbwoTwieECLkQNmczbuX2PTcZ3sq7hYc5MH68iKIaVDs-lQXPbpoWMqu1cjs0-kDPi3h/exec"
